.ui-widget {
    font-size: 0.9em;
}

h1{
    margin-left: 20px;
}

.principal{
    padding-left: 30px;
}

h2{
    color: #aa5712;
    padding-left: 10px;
}

.ui-datascroller .ui-datascroller-item {
    border-bottom: 1px solid #964400;
    padding: 25px 10px;
}

/*DataScroller*/
.detail {
    width: 95%;
}

/*Pasos del FacesFlow*/
.ui-steps .ui-steps-item {
    width: 20%;
}
 
.ui-state-highlight {
    text-shadow: none !important;
}
 
.ui-steps.custom {
    padding-top: 20px;
    padding-bottom: 60px;
}
 
.ui-steps.custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}
 
.ui-steps.custom .ui-steps-item .ui-steps-number {
    background-color: #c6712b;
    color: #FFF;
    display: inline-block;
    width: 30px;
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
}
 
.ui-steps.custom .ui-steps-item.ui-state-highlight .ui-steps-title {
    color: #555;
}